@model VSFlyClient.Models.FlightVM

@{
    ViewData["Title"] = "Book";
}

<h1>Book</h1>

<div>
    <h4>Flight Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Purchase Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
    </dl>
</div>
<div class="mb-lg-2">
    <button class="btn btn-success center-block" onclick="location.href='@Url.Action("RegisterCustomer", "Home")'">
        Book
    </button> 
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>